body {
    font-family: sans-serif;
}

table {
    font-size: small;
}

.collapsed {
    display: none;
}

.expanded {
    display: inline-block;
}

li:last-child {
    padding-bottom: 10px;
}

.environment {
}

.job {
}

.build {
    clear: left;
}

.testItem {
    clear: left;
    width: 100%;
    list-style: none;
}

.testName {
    text-decoration: underline;
}

.new {
    color: gray;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

.run {
    color: blue;
}

ul.thumbnail {
    clear: left;
}

.thumbnail li {
  background: #999;
  display: inline;
  list-style: none;
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
  text-align:center;
  color: #fff;
}

.thumbnail li img {
    display: block;
}

.testName {

}

.testStatus {
    font-size: smaller;
    font-weight: bold;
    border-radius: 5px;
}

.testStatus.new {
    background-color: gray;
    color: white;
}

.testStatus.pass {
    background-color: green;
    color: white;
}

.testStatus.fail {
    background-color: red;
    color: white;
}

.testStatus.run {
    background-color: blue;
    color: white;
}

.testStart {

}

.testEnd {
    padding-left: 10px;
}

.thumbnail .statusFail {
    background: red;
}

.thumbnail .statusPass {
    background: green;
}

.thumbnail .statusNew {
    background: grey;
}
